<li>
	{{name}}

	<button class="change-devouvered" data-id="{{id}}" data-newdevouver="{{devouvered}}">
		{{#if devouvered}}Devouver!{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
